$primary: #9effab !default;
$secondary: #e2e2e2 !default;
$primary-pastel: $primary !default;
$font-family: 'Inter', 'Roboto', sans-serif !default;
$page-padding: 50px;
$page-mobile-padding: 10px;
$page-top-padding: 80px;